* {
    /* color: #5BACC3;
    color: #FFF0ED; 

    color: #393939;
    color: #F7F7F7;
    color: #FFF;  */
}

.site-icon {
    width: 50px;
}

.menu-header {

}

.nav {

}

.nav__heading {
    font-size: 30px;
    font-weight: 300;
    color: #393939;
    text-decoration: none;
}

.nav-list {
    list-style: none;
}

.nav-list__item {
    font-size: 21px; 
    font-weight: 400;
}

.main-menu {
    width: 100%;
    height: 70%;
    background-image: url(../assets/coffee-circle.jpg);
    background-position: center;
    background-size: cover;
}

.main-menu__heading {
    font-size: 60px; 
    font-weight: 300;
    color: #FFF;
    width: 300px;
    height: 200px;
    background-color: #393939;
}

.main-menu__list {
    font-size: 18px; 
    font-weight: 400;
    color: #FFF;
    list-style: none;
    text-transform: uppercase;
    background-color: #393939;
}

.list--hot {
 background-color: #FFF0ED;
}

.list--cold {
background-color: #F7F7F7;
}

.list--pastry {
 background-color: #FFF0ED;
}

.list__heading {
    font-size: 60px; 
    font-weight: 300;
}

.list__item {
    font-size: 30px;
    font-weight: 300;
}

.list__text {
    font-size: 18px; 
    font-weight: 400;
    font-style: italic;
}

.list__price {
    font-size: 18px; 
    font-weight: 400;
    color: #5BACC3;
}