* {
    background-color: blanchedalmond;
    color: #5bacc3;
    color: #FFF0ED;
    color: #393939;
    color: #F7F7F7;
    color: #FFF;
}

p {
    font-size: 25px;
}

.menu-header {

}

.nav {

}

.nav-header {

}

.nav-list {

}

.nav-list__item {

}

.main-menu {

}

.main-header {

}

.menu-list {

}

.hot-list {

}

.hot-list__item {

}

.hot-list__header {

}

.hot-list__item {

}

.hot-list__text {

}

.hot-list__price {

}