* {
    background-color: lightsalmon;
    /* color: #5BACC3;
    color: #FFF0ED; 

    color: #393939;
    color: #F7F7F7;
    color: #FFF;  */
}

.site-icon {
    width: 50px;
}

.menu-header {

}

.nav {
 text-decoration: none;
}

.nav__heading {
    font-size: 30px;
    font-weight: 300;
}

.nav-list {
    list-style: lower-greek;
}

.nav-list__item {
    font-size: 21px; 
    font-weight: 400;
}

.main-menu {

}

.main-heading {
    font-size: 60px; 
    font-weight: 300;
}

.menu-list {

}

.hot-list {

}

.hot-list__heading {
    font-size: 60px; 
    font-weight: 300;
}

.hot-list__item {
    font-size: 30px;
    font-weight: 300;
}

.hot-list__text {
    font-size: 21px; 
    font-weight: 400;
    font-style: italic;
}

.hot-list__price {
    font-size: 21px; 
    font-weight: 400;
}